.home__songs {
  margin-top: 113px;
}

.home__categories {
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
}

.home__categories span {
  font-weight: bold;
  font-size: 30px;
}

.home__categories #categories {
  display: inline-block;
  font-size: 25px;
}

.home__categories #categories a {
  display: inline-block;
  cursor: pointer;
  padding: 0 15px;
  margin-bottom: 10px;
}

.home__categories #categories a:not(:last-child) {
  border-right: 2px solid white;
}

.home__categories #categories a.active {
  color: #cf383e;
  font-weight: bold;
}

.subscribe {
  position: relative;
  background-image: url("/images/subscribe.jpg");
  background-position: center;
  height: 1020px;
  margin-top: 100px;
}

.subscribe__title {
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  font-size: 100px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  line-height: 27px;
  letter-spacing: 20px;
}

.subscribe__title span {
  font-weight: 900;
  font-style: normal;
  letter-spacing: 20px;
  line-height: normal;
}

.subscribe__joinBtn {
  position: absolute;
  width: 313px;
  height: 133px;
  background-color: #cf383e;
  top: 522px;
  right: 63.9%;
  text-decoration: none;
  border-radius: 4px;
}

.subscribe__joinBtn p {
  text-align: center;
  font-size: 40px;
  margin: 53px 0;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 8px;
  color: white;
}

.subscribe__album {
  position: absolute;
  right: 17.75%;
  top: 169px;
  width: 763px;
  height: 717px;
}

.subscribe__album-img {
  position: absolute;
  width: 465px;
  height: 578px;
  right: 0;
}

.subscribe__album-info {
  position: absolute;
  width: 735px;
  bottom: 0;
  right: -28px;
  text-align: right;
}

.subscribe__album-info h3 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #bfbfbf;
  letter-spacing: 8px;
}

.subscribe__album-info p {
  font-weight: 600;
  font-size: 39px;
  letter-spacing: 8px;
}

.subscribe__album-author {
  position: absolute;
  width: 506px;
  top: 294px;
}

.subscribe__album-author h3 {
  font-size: 100px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 20px;
  line-height: 1;
}

.subscribe__album .subscribe__album-author--moved {
  margin-left: 75px;
}

.subscribe__album .subscribe__album-author--moved span {
  color: #cf383e;
}
